/* Quarto's panel tabset modification. */
.panel-tabset-tabby {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-weight: 100;
  font-size: 0.8em;
  border-radius: 0px;
  border: none !important;
  /* border-bottom: 3px solid #cd863f94 !important; */

}

.panel-tabset-tabby li {
  float: left;
  /* background-color: LightSteelBlue; */
  padding: 0;
  margin: 0;
  border: none !important;
  background-color: none !important;
  border-bottom: 3px solid #cd863f94 !important;

}

.panel-tabset-tabby a {
  /* background-color: #DDDDDD; */
  display: block;
  /* color: #222222; */
  text-align: center;
  /* padding: 0px 0px; */
  /* text-decoration: none; */
  transition: 0.1s;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  padding: 0.25em 0.25em 0.25em 0.25em;
  /* background-color: green !important; */
  border: none !important; 
}



a[role="tab"] {
  background: none  !important;
  /* border: none !important; */
}

.panel-tabset-tabby [role="tab"] {
  /* Change this for the actual tab itself */
  /* background-color: none !important; */
  background-color: #f0f0f0 !important;
  margin: 0px 0.5em;
  color: black !important;
  padding: 0.35em;
  border-color: none !important;

}

.panel-tabset-tabby [role="tab"]:hover {
  background-color: #cccccc !important;
  color: black !important;
  padding: 0.35em; 
  border-color: none !important;

}

.panel-tabset-tabby [role="tab"]:active { 
    background-color: #bbbbbb !important;
    /* color: white; */
    /* border-color: blue; */
  /* border: blue solid 6px !important; */
  
} 

.tab-content {
  padding: 0px;
  border-radius: 0 0 10px 10px;
  padding: 0.35em;
  /* border-color: blue; */

}




